/* CSS Document */
body, p, li, a, input, label {
  font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif !important;  
}
 div.ui-tabs-hide{
  display: none !important;
}

fieldset#edit-tests .form-type-checkbox{
  width:  23%;
  display: inline-block;  
}

table.sticky-header{
  top: 60px !important;
}

table td.tps-heading {
  text-align: center;
  font-weight: bold;  
  background-color: white;
  border-bottom: 1px solid #EFEFEF;
  border-right: none;
  border-left: none;
  padding-top: 1em;
}

table td.tps-data {
  border-top: 3px solid #E9E7E6;
}
table td.tps-label {
  text-align: right;
  font-weight: bolder; 
  background-color: white;
  padding-right: 3px;
}

table td.comp {
  border-right: 1px solid #FFBF80; 
}
table td.tps-value {
  text-align: center;
  font-style: italic;
  background-color: #F8F8F8; 
}

table td.emuge.tps-value, table td.comp.tps-value {
  text-align: center; 
}

table td.emuge, table td.emuge-costs {
  background-color: #FFD0A1;
}

table td.comp, table td.comp-costs {
  background-color: #AAD6FF;
}

table td.emuge-costs.tps-value, table td.comp-costs.tps-value {
  text-align: center;
  font-style: italic;
}

table td.total.tps-value,table td.total.tps-value, table td.success.tps-value, table td.fail.tps-value {
  font-weight: bold; 
  text-align: right;
}

table td.success.tps-value, table td.test.results.tps-value{
   background-color: #FFD0A1; 
   border-right: none;
   border-left: none;
}

table td.fail.tps-value{
   color: #C14300; 
   background-color: #AAD6FF;
   border-right: none;
   border-left: none;
}

table td.test-label, table td.tps-spacer {
    text-align: right;
    font-weight: bold;  
    background-color: white;   
    padding-right: 3px; 
}

table td.test-label.tps-label {
    padding-right: 3px;
}

table td.results-heading {
   text-align: right;
   border-right: none;
   border-left: none;
}

table tr {
  
}

table td {
}

div#tabs-1, div#tabs-2, div#tabs-3, div#tabs-4  {
  border: 1px solid lightgrey;
  margin: 10px;
}

a.ec-tpr-link {
  margin-top: 10px;
  
}

.ec-tpr-links {
  position: relative;
  top: -60px;
}

.ec-tpr-links-bottom {
  width: 260px;
  margin: 10px auto;  
}

.form-item .form-type-radio {
  width: 100px;
  display: inline;
}

div#edit-actions input {
  padding: 7px;
  font-size: 24px;
  color: white;
  text-shadow: -1px 0px 6px black;
}

#edit-actions {
                position: fixed;
                background: rgba(100, 100, 100, .25);
                padding: 5px;
                left: 30px;
                bottom: -100px;
                opacity: 0;
                filter: alpha(opacity=0);
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                -o-transition: all 0.8s;
                -ms-transition: all 0.8s;
                transition: all 0.8s;
              }
              #edit-actions.show {
                opacity: .6;
                bottom: 20px;
              }
              #edit-actions.unfix {
                opacity: 1;
                bottom: 300px;
                z-index: 100;
              }
              
             #edit-actions:hover {
                opacity: 1;
              }
              
              .form-type-radio {
                display: inline-block;
                margin: 1em;  
              }
              
              fieldset.form-wrapper {
                margin: 10px;
              }
              
              .description {
                display: none;  
              }
    

a.boxed-button {
    margin: 5px;
}

td.comments {
    text-align: left !important;
    font-size: 10px;
}

input[type="text"], .resizable-textarea .grippie,
.form-textarea-wrapper textarea, div.form-radios  {
    width: 50%;
}

.form-select {
    width: 25%;
}

div#edit-actions {
    z-index: 100;
}



@media print {


}